<!DOCTYPE html>
<html lang="en">
	<head>
		<title>AirBnB clone</title>

		<link rel="shortcut icon" href="../static/images/icon.ico" >

		<link rel="stylesheet" href="../static/styles/4-common.css?{{ cache_id }}"/>
		<link rel="stylesheet" href="../static/styles/3-header.css?{{ cache_id }}"/>
		<link rel="stylesheet" href="../static/styles/3-footer.css?{{ cache_id }}"/>
		<link rel="stylesheet" href="../static/styles/6-filters.css?{{ cache_id }}"/>
		<link rel="stylesheet" href="../static/styles/8-places.css?{{ cache_id }}"/>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="module" defer src="../static/scripts/101-hbnb.js?{{ cache_id }}"></script>
	</head>
    <body>
		<header>
			<div id="header_logo"></div>
            <div id="api_status"></div>
		</header>
		<div class="container">
			<section class="filters">
				<button>Search</button>
				<div class="locations">
					<h3>States</h3>
					<h4 class="selected_locations">&nbsp;</h4>
					<ul class="popover">
                        {% for state in st_am['states']|sort(attribute='name') %}
						<li><h2><input type="checkbox" data-id="{{ state.id }}" data-name="{{ state.name }}">{{ state.name }}</h2>
							<ul>
                                {% for city in state.cities|sort(attribute='name') %}
								<li><h4><input type="checkbox" data-id="{{ city.id }}" data-name="{{ city.name }}">{{ city.name }}</h4></li>
                                {% endfor %}
							</ul></li>
                        {% endfor %}
					</ul>
				</div>
				<div class="filter_amenities">
					<h3>Amenities</h3>
					<h4 class="selected_amenities">&nbsp;</h4>
					<ul class="popover">
                        {% for amenity in st_am['amenities']|sort(attribute='name') %}
						<li><h4><input type="checkbox" data-id="{{ amenity.id }}" data-name="{{ amenity.name }}">{{ amenity.name }}</h4></li>
                        {% endfor %}
					</ul>
				</div>

			</section>
			<section class="places">
				<h1>Places</h1>

				<!-- <article>
					<div class="headline">
						<h2></h2>
						<div class="price_by_night"></div>
					</div>
					<div class="information">
						<div class="max_guest">
							<div class="guest_icon"></div>
							<p> Guests</p>
						</div>
						<div class="number_rooms">
							<div class="bed_icon"></div>
							<p> Bedroom</p>
						</div>
						 <div class="number_bathrooms">
							<div class="bath_icon"></div>
							<p> Bathroom</p>
						</div>
					</div>
					<div class="user"><b>Owner</b>:

                    </div>
					<div class="description" >

                    </div>
				</article> -->

			</section>
		</div>
		<footer>
			<p>Holberton School</p>
		</footer>
	</body>
</html>
